.wapper {
    --border-search-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search,
.searchResults {
    width: 500px;
}

.search {
    background: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    height: var(--search-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-search-radius);
    position: relative;
    border: 1.5px solid transparent;

    input {
        font-size: 1.6rem;
        padding: 12px 0;
        flex: 1;
        background: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .searchBtn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:hover,
    &:focus-within {
        border: 1.5px solid rgba(15, 16, 23, 0.2);

        .searchBtn {
            background-color: rgba(15, 16, 23, 0.06);
            color: rgba(22, 24, 35, 0.75);
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 1.5px;
        height: calc(var(--search-height) - 18px);
        background: rgba(22, 24, 35, 0.12);
        right: var(--search-button-width);
    }
}

.searchTitle {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    background-color: transparent;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
}

.searchBtn {
    width: var(--search-button-width);
    padding: 11px 16px;
    font-size: 1.8rem;
    color: #7e8086;
    border-top-right-radius: var(--border-search-radius);
    border-bottom-right-radius: var(--border-search-radius);
    cursor: pointer;
}


